
body {
  margin: 0;
  min-width: 768px;
  font-family: 'Noto Sans KR', sans-serif;
}

/* side navbar */

#side-navbar {
  background-color: black;
  height: 100%;
  width: 250px;
  position: fixed;
  color: white;
}

#side-navbar #logo {
  width: 150px;
  display: block;
  margin: 30px auto 50px auto;
}

#side-navbar ol {
  list-style: none;
  padding-left: 22px;
}

#side-navbar li{
  margin-bottom: 30px;
}

#side-navbar li:last-child {
  margin-bottom: 60px;
}

#sns {
  margin-top: 25px;
  text-align: center;
}

#facebook {
  width: 20px;
  margin-right: 13px;
}

#twitter {
  width: 20px;
}
/* main */

#main {
  margin-left: 250px;
}

#main .hero-header {
  text-align: center;
  background-image: url("pic/hero_header.jpg");
  background-size: cover;
  background-position: center center;
  height: 750px;
  line-height: 750px;
}

#main .info {
  display: inline-block;
  line-height: normal;
  height: 100%;
  vertical-align: middle;
}

#main h1 {
  margin: 0;
  margin-bottom: 40px;
  color: white;
  font-size: 38px;
}

#main a {
  padding: 10px 40px;
  border: 2px solid white;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
