body {
  margin: 0;
}

#navbar {
  padding: 0 20px;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.50);
  height: 60px;
  line-height: 60px;
}

#logo {
  vertical-align: middle;
  float: left;
}


#list {
  float: right;
  padding: 0px;
  margin: 0px;
}

li {
  float: left;
  list-style: none;
}


#list li a {
  display: block;
  text-decoration: none;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Noto Sans KR', sans-serif;
  list-style: none;
  font-size: 16px;
}


#list li a:hover{
  background-color: #eeeeee;
}


.hero-header {
  background-image: url("pic/hero_image.jpg");
  background-size: cover;
  background-position: center center;
  height: 670px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  align-items: center;
}

.hero-header .info {
  margin-left: auto;
  margin-right: auto;
}
.hero-header .info h1 {
  font-size: 36px;
  margin: 0;
  margin-bottom: 13px;
  color: white;
  font-weight: 400;
}

.hero-header .info h2 {
  font-size: 16px;
  margin: 0;
  margin-bottom: 60px;
  color: white;
  font-weight: 400;
}

.hero-header .info a {
  font-size: 14px;
  background-color: white;
  color: #464273;
  padding: 10px 40px;
  text-decoration: none;
  border-radius: 5px;
}


